* {
  box-sizing: border-box;
}

body, html {
  font-family: 'Open Sans', sans-serif;

  font-size: 12px;

  height: 100%;
  padding: 0;
  margin: 0;
}

a:link {
  text-decoration: none;
}


.content,
.content > div {
  width: 100%;
  height: 100%;
}

.content > .message {
  text-align: center;
  display: table;

  font-size: 16px;
  color: #111;
}

.content > .message .note {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

.content .error .details {
  max-width: 500px;
  font-size: 12px;
  margin: 20px auto;
  text-align: left;
}

.content .error pre {
  border: solid 1px #CCC;
  background: #EEE;
  padding: 10px;
}

.content:not(.with-error) .error,
.content .canvas,
.content.with-error .canvas,
.content.with-error .intro,
.content.with-diagram .intro {
  display: none;
}

.content.with-diagram .canvas {
  display: block;
}

.buttons {
  position: fixed;
  bottom: 20px;
  left: 20px;

  padding: 0;
  margin: 0;
  list-style: none;
}

.buttons > li {
  display: inline-block;
  padding: 5px 10px;
}

.buttons a {
  opacity: 0.3;
}

.buttons a.active {
  opacity: 1.0;
}

.buttons a .fa {
  font-size: 2em;
}

.logo {
  width: 80px;
  height: 80px;
  
  position: fixed;
  bottom: 20px;
  right: 20px;

  opacity: 0.8;
  
  background: no-repeat url('bpmn-io-icon.png');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('fontawesome.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-download:before {
  content: "\f019";
}

.fa-picture-o:before {
  content: "\f03e";
}