.selection-box {
  fill: none;
  visibility: hidden;
}

.selection-box.selected,
.selection-box.hover {
  visibility: visible;
  stroke-dasharray: 2,4;
}

.djs-dragger {
  fill: #DDD;
  stroke: #CCC;
  stroke-dasharray: 2,1;
}

.selection-box.selected {
  stroke: blue;
  stroke-width: 1px;
}
.selection-box.hover {
  stroke: red;
  stroke-width: 1px;
}

.djs-shape {
  stroke: black;
  stroke-width: 2px;
  fill: #F3F3F3;
}

.djs-connection {
  stroke-width: 2px;
  stroke: #333;
}

.djs-shape.dragging {
  opacity: 0.5;
}

.djs-connection-hit, .djs-shape-hit {
  stroke-opacity: 0.0;
  stroke-width: 10px;
  stroke: fuchsia;
  fill: none;
}

.djs-connection {
  marker-end: url(#sequenceflow-end-marker);
}

.djs-connection-marker {
  
}