{
  "rules": {
    "indent": [ 2, 2, { "VariableDeclarator": { "const": 3, "let": 2, "var": 2 } } ],
    "keyword-spacing": [ 2 ],
    "mocha/no-exclusive-tests": 2,
    "no-console": 0,
    "no-unused-vars": [ 2, { "args": "none" } ],
    "no-trailing-spaces": [ 2 ],
    "object-curly-spacing": [ 2, "always"],
    "semi": [ 2, "always" ],
    "space-before-blocks": [ 2, "always"],
    "space-before-function-paren": [ 2, "never" ],
    "quotes": [ 2, "single" ]
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 5
  },
  "plugins": [
    "mocha"
  ],
  "globals": {
    "after": true,
    "afterEach": true,
    "before": true,
    "beforeEach": true,
    "describe": false,
    "expect": false,
    "it": false
  }
}