.bjs-container {
  --bjs-font-family: Arial, sans-serif;
}

.bjs-breadcrumbs {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 10px;
  left: 100px;
  font-family: var(--bjs-font-family);
  font-size: 16px;
  align-items: center;
}

.bjs-breadcrumbs li {
  display: inline-flex;
  color: var(--blue-base-65);
  cursor: pointer;
  padding-bottom: 5px;
}

.bjs-breadcrumbs li:last-of-type {
  color: inherit;
  cursor: default;
}

.bjs-breadcrumbs li:not(:first-child)::before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /><path d="M0 0h24v24H0z" fill="none" /></svg>');
  padding: 0 8px;
  color: black;
  height: 16px;
}

.bjs-breadcrumbs .bpmnjs-crumb {
  display: inline-block;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bjs-drilldown {
  width: 20px;
  height: 20px;

  padding: 0px;
  margin-left: -20px;

  cursor: pointer;
  border: none;
  border-radius: 2px;
  outline: none;

  fill: white;
  background-color: var(--blue-base-65);
}
