name: CI
on: [ push, pull_request ]
jobs:
  build:

    strategy:
      matrix:
        os: [ macos-latest, ubuntu-latest, windows-latest ]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Use Node.js
      uses: actions/setup-node@v5
      with:
        node-version: 20
        cache: 'npm'
    - name: Install dependencies
      run: npm ci
    - name: Project setup
      uses: bpmn-io/actions/setup@latest
    - name: Build
      if: runner.os == 'Linux'
      env:
        COVERAGE: 1
        TEST_BROWSERS: Firefox,ChromeHeadless
      run: xvfb-run npm run all
    - name: Build
      if: runner.os != 'Linux'
      env:
        TEST_BROWSERS: ChromeHeadless
      run: npm run all
    - name: Upload Coverage
      uses: codecov/codecov-action@v5
      if: runner.os == 'Linux'
      with:
        fail_ci_if_error: true
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
